NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
NEXT_PUBLIC_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
NEXT_PUBLIC_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
NEXT_PUBLIC_AUTH0_AUDIENCE=YOUR_AUTH0_API_AUDIENCE
NEXT_PUBLIC_AUTH0_REDIRECT_URI=http://localhost:3000/callback
