DATABASE_URL=YOUR_DATABASE_URL
ADMIN_INVITE_CODE=YOUR_ADMIN_INVITE_CODE
ALLOWED_ORIGINS=https://your-frontend-domain.com,exp://127.0.0.1:8081,http://localhost:3000
COOKIE_SECRET=YOUR_COOKIE_SECRET
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
WEBHOOK_SECRET_ACCOUNTS=YOUR_WEBHOOK_SECRET_ACCOUNTS
WEBHOOK_SECRET_PAYMENTS=YOUR_WEBHOOK_SECRET_PAYMENTS
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
AUTH0_AUDIENCE=YOUR_AUTH0_API_AUDIENCE
AUTH0_ISSUER_BASE_URL=YOUR_AUTH0_ISSUER_BASE_URL
AUTH0_ADMIN_ROLE=admin
AUTH0_MANAGER_ROLE=manager
AUTH0_OWNER_ROLE=owner
APP_BASE_URL=https://your-frontend-domain.com
PORT=4000
